<!-- About Section-->
<section class="page-section mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase" data-i18n="aboutTitle"></h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-5 ms-auto">
                <p class="lead text-justify" data-i18n="aboutText1"></p>
            </div>
            <div class="col-lg-5 me-auto">
                <p class="lead text-justify" data-i18n="aboutText2"></p>
            </div>
        </div>
    </div>
</section>
