<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4" data-i18n="footerSocial"></h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/o.paulooo/"
                    target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram">
                    <i class="fab fa-fw fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/o_paulooo"
                    target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter">
                    <i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-1"
                    href="https://www.linkedin.com/in/opaulooo/" target="_blank" data-toggle="tooltip"
                    data-placement="top" title="LinkedIn">
                    <i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/opaulooo" target="_blank"
                    data-toggle="tooltip" data-placement="top" title="GitHub">
                    <i class="fab fa-fw fa-github"></i></a>
            </div>
            <!-- Currículo -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="src/assets/docs/Curriculo-PT.pdf" target="_blank" data-i18n="resumeLink">
                        <i class="fas fa-download me-2"></i>
                        <span data-i18n="footerResumeBtn"></span>
                    </a>
                </div>
            </div>
            <!-- Currículo -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="text-center mt-4">
                    <p class="text-left">
                        <i class="fas fa-light fa-phone fa-rotate-90"
                            style="margin-left: 15px; margin-right: 10px;"></i>
                        +55 34 98845-4537
                    </p>
                    <p class="text-left">
                        <i class="fas fa-light fa-envelope" style="margin-left: 15px; margin-right: 10px;"></i>
                        o.paulooo.victor@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class="container"><small><span data-i18n="footerRights"></span> <a href="https://github.com/opaulooo" target="_blank">Paulo
                Victor</a></small></div>
</div>
