<header class="masthead bg-danger text-white text-center" id="menu" style="position: relative; overflow: hidden;">
    <animatedsection style="position: absolute; top: 0; left: 0; width: 100%; height: 200%; z-index: 0; pointer-events: none;">
    </animatedsection>
    <div class="container d-flex align-items-center flex-column profile" style="position: relative; z-index: 1;">
        <div>
            <img class="masthead-avatar mb-5" style="width: 20vh; 
            object-fit: cover; border-radius: 30%;" src="src/assets/img/foto.jpg" alt="..." />
            <h1 class="masthead-heading text-uppercase mb-0" data-i18n="name"></h1>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="masthead-subheading font-weight-light mb-0"></p>
        </div>
    </div>
</header>
