<!-- Hobbies Section-->
<section class="page-section mb-0" id="hobby">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase" data-i18n="hobbyTitle"></h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-code"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-2 ms-auto">
            </div>
            <div class="col-lg-4 ms-auto" style="display: flex; align-items: center;">
                <p class="lead text-justify" data-i18n="hobbyText"></p>
            </div>
            <div class="col-lg-6 me-auto" style="display: flex; justify-content: center; align-items: center;">
                <img src="src/assets/img/paulo-victor-ai.jpeg" alt="Paulo Victor" class="img-hobbies" style="border: 8px solid #1a1a1a; box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);">
            </div>
        </div>
    </div>
</section>
